.switch-card-container {
    width: 100%;
    padding: 16px;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 24px;
}

.switch-card-container .ant-switch.color-switch {
    background-color: #45cb85;
}