extends ../layouts/common

block content
    h1 User List
    a(href="/users/create") Create user
    form(action="/users/search", method="GET", class="d-flex")
        input(type="text", name="q")
        button(class="btn btn-primary") Search
    ul 
        each user in users 
            li
                span= user.name
                a(href="/users/" + user.id) View