@import url("https://fonts.googleapis.com/css2?family=Carter+One&display=swap");
.fh {
  height: 100vh;
}

::placeholder {
  color: red;
  opacity: 1; /* Firefox */
}

::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder {
  /* Firefox 18- */
  text-align: center;
}

::-moz-placeholder {
  /* Firefox 19+ */
  text-align: center;
}

:-ms-input-placeholder {
  text-align: center;
  color: #fff;
}

.container-login,
.container-sign-up {
  background-image: linear-gradient(to bottom right, #246eb9, #49b6ff);
  padding: 52px;
  height: calc(100vh - 32px);
}

.container-sign-up .ant-picker {
  width: 100%;
}

.container-login .anticon,
.container-sign-up .anticon {
  color: #fff;
}

.title-login {
  margin-top: 50px;
  margin-bottom: 100px;
}

.title-login > h1 {
  color: #fff;
  font-family: "Carter One", cursive;
  font-size: 3.5rem;
}

.ant-form-item-control-input {
  border-bottom: 1px solid #fff;
}

.ant-form-item-control-input input {
  color: #fff;
}

.container-sign-up .ant-picker {
  padding-left: 6px;
  padding-right: 6px;
}

.container-sign-up .ant-picker-input {
  flex-direction: row-reverse;
}

.container-sign-up .ant-upload-picture-card-wrapper {
  display: flex;
  justify-content: center;
}

.container-sign-up .ant-upload {
  border-radius: 9999px;
  background-color: #a6cee9;
  margin-bottom: 60px;
}

.container-sign-up .ant-upload .anticon {
  font-size: 50px;
}

.btn-login {
  width: 60%;
  height: 45px;
  margin-top: 32px;
  margin-bottom: 32px;

  background-color: #a6cee9;
  color: #fff;
  border-radius: 20px;
}

.ant-typography.lnk-signup {
  color: #fff;
}
